{% extends 'base.html.twig' %}

{% block body %}
    <!-- PAGE TITLE -->
    <section id="page-title" class="full-height" style="background:url({{ asset('files/uploads/1690x1100.jpg') }} center center;background-size:cover;">
        <div class="section-inner align-center text-light">
            <h1 data-bigletter="404"><strong>500</strong></h1>
            <div class="separator"><span></span></div>
            <h5 class="alttitle title-minimal">Error</h5>
        </div>
    </section>
    <!-- PAGE TITLE -->
{% endblock %}
