<!-- FOOTER -->
<footer class="sticky-footer">
    <div class="footer-inner wrapper">
        <ul class="socialmedia-widget left-float">
            <li class="facebook"><a target="_blank" href="https://www.facebook.com/charlie.breval"></a></li>
            <li class="instagram"><a target="_blank" href="https://www.instagram.com/charlie_breval"></a></li>
        </ul>
        <div class="copyright right-float">
            {{ "Contents rights to Charlie Bréval" | trans }}
        </div>
    </div>
</footer>
<!-- FOOTER -->
