<!-- HEADER -->
<header id="header" class="sticky-header">
    <div class="header-inner clearfix">

       <!-- DEFAULT HEADER CONTENT -->
        <div class="default-header-content">
            <div id="logo" class="left-float">
                <a id="fixed-logo" class="logotype" href="{{ path('app_home')}}">
                    <img src="{{ asset('files/uploads/logo.png') }}" alt="Logo">
                </a>
            </div>

            {{ render(controller('AppBundle:Menu:index',{})) }}
        </div>
       <!-- DEFAULT HEADER CONTENT -->

    </div> <!-- END .header-inner -->
</header> <!-- END header -->
<!-- HEADER -->
