<div class="right-float clearfix tab-like">
    <ul class="tab-like-nav">
        {% for item in menu.items %}
            <li>
                <a {% if currentRoute == item.route %}class="active"{% endif %} href="{{ path(item.route) }}">{{ item.label|trans }}</a>
            </li>
        {% endfor %}
        {% for locale in ['fr', 'en'] %}
            <li><a {% if app.request.locale == locale %}class="light"{% else %}class="bold"{% endif %} href="{{ path('app_home', {'_locale' : locale }) }}">{{ ('menu_locale.'~locale)| trans }}</a></li>
        {% endfor %}
    </ul>
</div>
