<div class="right-float clearfix tab-like">
    <ul class="tab-like-nav">
        {% for item in menu.items %}
            <li>
                <a {% if currentRoute == item.route %}class="active"{% endif %} href="{{ path(item.route) }}">{{ item.label|trans }}</a>
            </li>
        {% endfor %}
        {% for locale in ['fr', 'en'] %}
            {# {% set routeParams = app.request.get('_route_params', []) %} #}
            {% set localePath = path(currentRoute, (currentParameters|merge({'_locale':locale}))) %}

            <li><a {% if app.request.locale == locale %}class="light"{% else %}class="bold"{% endif %} href="{{localePath}}">{{ ('menu_locale.'~locale)| trans }}</a></li>
        {% endfor %}
    </ul>
</div>
